.container{
    height: calc(100vh - 100px);
    display: flex;
}

.left{
    flex:1;
    height: 100%;
    display: flex;
    align-items: center;
}

.right{
    flex:1;
    padding: 20px;
}

.imgContainer{
    width: 80%;
    height: 80%;
    position: relative;
}

.price{
    color: #666;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #666;
}

.amounts{
    display: flex;
    justify-content: space-between;
}

.quantity{
    width: 60px;
    height: 50px;
    font-size: 20px;
    text-align: 10px;
    border-radius: 8px;
    padding:  10px 20px;
}

.button{
    height: 50px;
    margin-left: 10px;
    background-color:#b7903c;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;

}

@media screen and (max-width: 480px) {
    .container{
      height: auto;
      text-align: center;
      flex-direction: column;
      margin-top: 20px;
    }

    .imgContainer{
        width: 70vw;
        height: 70vw;
        justify-content:center;
    }

    .left{
        justify-content:center;
    }

    .quantity,.button{
        height: 50px;
    }
  }